html, body {
    scroll-behavior:smooth;
    height: 100%;
    margin: 0;
    padding: 0;
}
ul{
    margin:0px;
    display:flex;
    justify-content: center;
    gap: 13rem;
    list-style: none;
    flex-direction:row;
}

/* 
    Botão de Dark
*/

.btn {
    position: absolute;
    right:10rem;
    top:3rem;
    font-weight: 700;
}
/* Estilo padrão (Modo Claro) */
body {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.5s, color 0.5s;
}

/* Estilo quando a classe dark-mode estiver ativa */
body.dark-mode {
  background-color: #121212; /* Fundo escuro para a página toda */
  color: #ffffff;            /* Texto geral branco */
}

/* Deixa os links na cor branca no modo escuro */
body.dark-mode a {
  color: #ffffff;
}
/*  */

ul > li {
    margin-top:3rem;
    font-family:arial;
    font-weight: 400;
    font-style:normal;
}
a {
    text-decoration: none;
    color: #333333
}
#logo {
    width: 100px;
    height: 100px;
    padding:5px 5px;
    background: transparent;
    border-radius:50%
}
.box {
    background-image: url("https://images.pexels.com/photos/6646923/pexels-photo-6646923.jpeg?");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center 30%;
    width: 100vw;
    height: 550px;
}

/* Parte 2 da página */

#texto1 {
    width: 600px;
    height: 600px;
    margin-left: 25rem;
}
aside {
    width:300px;
    height: 600px;
    letter-spacing: 3px;
    position:absolute;
    right: 500px;
    top:700px;

}
#h1apoio {
   text-align: center;
   margin-top: 10rem;
}

#apoio > div {
    margin-top: 3rem;
    background-image: url("https://images.pexels.com/photos/6647027/pexels-photo-6647027.jpeg?");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    border-radius:15px;
    width:100vw;
    height:550px;

}
#article2{
    margin: 4rem auto;
    width: 1000px;
    height: 200px;
}
#contatoh1 {
    text-align:center;
}
#contato {
    margin-top: 5rem;
    display:flex;
    justify-content:center;
    gap: 13rem;
    width: 100vw;
    height: 500px;
}
#leojjackson {
    position: absolute;
    left: 23rem;
    padding:2rem;
}
#leoduarte {
    position: absolute;
    right: 25rem;
    padding:2rem;
}