*{
    margin:0px;
    padding:0px;
}
h1{
    text-align:center;
    font-size:3rem;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:#ccc;
}

ul{
    display:flex;
    justify-content: center;
    gap: 13rem;
    list-style: none;
    flex-direction:row;
}

